body 
    {
    background-image: url(./cuspic/rate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    }
   .location
   {
    margin: 0 auto;
    width: 1380px;
    height: 600px;
    position: relative;
    top: 100px;
    display: flex;
    background-color: white;
   }
   .location2
   {
    width: 700px;
    height: 600px;
    position: absolute;
    display: flex;
   }
   .location3
   {
    display: flex;
    width: 700px;
    height: 600px;
    background-color: #f8f8f8;
    right: 0;
    position: absolute;
   }
   .location3 h1
   {
        margin-left: 230px;
   }
   .location4
   {
    position: absolute;
    font-size: 20px;
    padding-top: 100px;
    padding-left: 20px;
   }
   .location4 span
   {
    font-weight: bold;
   }
   .box
   {
    position: absolute;
    margin-top: 200px;
    margin-left: 10px;
   }
   .box a
   {
    text-decoration: none;
   }
   .box ul li
   {
    font-size: 20px;
   }
   .location .box .heading
   {
    font-weight: 900;
    font-size: 30px;
   }
   .box2
   {
    position: absolute;
    margin-top: 410px;
    width: 100%;
    text-align: center;
   }
   .box2 .socialmedia
   {
    font-weight: 900;
    font-size: 30px;
   }
   .box3
   {
    margin: 0 auto;
    display: flex;
    height: 30px;
    width: 30px;
    position: relative;
    background-color: #f8f8f8;
    margin-bottom: 10px;
}